//	POSITIONS
//	=========

//	relative
//	========

	%position-relative {
		position: relative;
	}


//	absolute
//	========

	%position-absolute {
		position: absolute;
	}


//	fixed
//	=====

	%position-fixed {
		position: fixed;
	}

//	static
//	======

	%position-static {
		position: static;
	}